__pycache__/
*.pyc
.venv/
.env
~$*
*.tmp
logs/
*.log
data/01_raw/sample/
data/02_reports/cad_validation/*.json
data/02_reports/cad_validation/missing_CallTypes_seed.csv
*.xlsx
*.csv
!ref/**/*.csv
/.idea/
/.vscode/

data/
*_validation_report_*.json
*.zip
desktop.ini
_ul/
1.24.0/
1.3.0/
2.0.0/
3.1.0/
5.9.0/
5.14.0/
7.4.0/
